@import url('https://fonts.googleapis.com/css?family=Handlee|Caveat|Righteous&display=swap');

.logo-name{
  color: whitesmoke;
  font-size: 2rem;
  font-family: 'Righteous';
  font-weight: bold;
}

.logo-slogan{
  color: darkred;
  font-size: 1.5rem;
  font-family: 'Caveat';
  font-weight: bold;
}

.hamburger {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  margin-left: 50px;
  color:white;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Handlee;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: darkcyan
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
