@import url('https://fonts.googleapis.com/css?family=Handlee|Caveat|Righteous&display=swap');

h1{
  font-family: Handlee;
  color: whitesmoke;
  font-weight: bold; 
  align-items: center;
}

h3{
  font-family:  Handlee;
  color:whitesmoke;
}

/* label{
  font-family: Handlee;
  color:whitesmoke;
  margin: 2%;
} */

.check{
  color: whitesmoke;
  font-size: 4rem;
}

.thanksContainer{
  position: absolute;
  top:30%;
  left: 0;
  right: 0;
  margin: auto;
}

input{
  margin-bottom:1%;
  font-family: Handlee;
  font-weight: bold;
  color: black;
}

textarea{
  margin-bottom:1%;
  font-family: Handlee;
  font-weight: bold;
}

button{
  font-family: Handlee;
  font-weight: bold;
}

.btn-pri{
  color:whitesmoke;
  background-color: black;
  font-family: Handlee;
}

.btn-pri:hover{
  color:black;
  background-color: white;
  font-family: Handlee;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  right: 0;
  left: 0;
  top:40%;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}